.shapka {
  height: 82px;
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 370px;
  position: relative;
  z-index: 10;
}

.company {
  font-family: Montserrat;
  font-size: 21px;
  line-height: 143%;
  color: white;
  width: 179px;
}

.ia {
  display: flex;
  align-items: center;
  gap: 14px;
}

.icon img {
  width: 17px;
  height: 23px;
}

.address {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: white;
  width: 122px;
}

.vector {
  margin-left: 50px;
}

.vector img {
  width: 36px;
  height: 36px;
}

.vnt {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.number {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  line-height: 152%;
  color: white;
}

.time {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: white;
}